Repository BeneStem/agentic-software-engineering-demo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: k8s dev deployment backend, k8s dev deployment frontend, k8s prod deployment backend, k8s prod deployment frontend

k8s dev deployment backend:
  needs:
  - job: Frontend - Push Docker Image PROD
    artifacts: false
    optional: true
  - job: Frontend - Push Docker Image DEV
    artifacts: false
    optional: true
  - job: Backend - Build Docker Image PROD
    artifacts: false
  - job: Backend - Build Docker Image DEV
    artifacts: false
  variables:
  ...

k8s dev deployment frontend:
  needs:
  - job: Frontend - Push Docker Image PROD
    artifacts: false
  - job: Frontend - Push Docker Image DEV
    artifacts: false
  - job: Backend - Build Docker Image PROD
    artifacts: false
    optional: true
  - job: Backend - Build Docker Image DEV
    artifacts: false
    optional: true
  variables:
  ...

k8s prod deployment backend:
  needs:
  - job: Frontend - Push Docker Image PROD
    artifacts: false
    optional: true
  - job: Frontend - Push Docker Image DEV
    artifacts: false
    optional: true
  - job: Backend - Build Docker Image PROD
    artifacts: false
  - job: Backend - Build Docker Image DEV
    artifacts: false
  variables:
  ...

k8s prod deployment frontend:
  needs:
  - job: Frontend - Push Docker Image PROD
    artifacts: false
  - job: Frontend - Push Docker Image DEV
    artifacts: false
  - job: Backend - Build Docker Image PROD
    artifacts: false
    optional: true
  - job: Backend - Build Docker Image DEV
    artifacts: false
    optional: true
  variables:
  ...

add CLAUDE.md
  CLAUDE.md
Due: none

add context engineering
  .claude/commands/execute-prp.md
  .claude/commands/generate-prp.md
  CONTEXT-CLAUDE.md
  INITIAL.md
  INITIAL_EXAMPLE.md
  PRPs/EXAMPLE_multi_agent_prp.md
  PRPs/templates/prp_base.md
  examples/.gitkeep
Due: none

remove kafka integration
  package-lock.json
  package.json
  src/main/kotlin/de/blume2000/finden/adapter/active/messaging/produkte/ProduktConsumer.kt
  src/main/kotlin/de/blume2000/finden/adapter/active/messaging/verfuegbarkeiten/VerfügbarkeitConsumer.kt
  src/main/kotlin/de/blume2000/finden/application/ProduktÄnderungApplicationService.kt
  src/test/kotlin/de/blume2000/finden/adapter/active/messaging/produkte/ProduktConsumerTest.kt
  src/test/kotlin/de/blume2000/finden/application/ProduktÄnderungApplicationServiceIntegrationTest.kt
  src/test/kotlin/de/blume2000/finden/application/ProduktÄnderungApplicationServiceTest.kt
  src/test/kotlin/de/blume2000/finden/testutils/TestProduktHelper.kt
  src/test/kotlin/de/blume2000/util/AvroProduktTestUtil.kt
Due: k8s dev deployment backend, k8s dev deployment frontend, k8s prod deployment backend, k8s prod deployment frontend

fix tests
  build.gradle.kts
  src/main/kotlin/de/blume2000/finden/domain/model/produkte/produkt/preis/Preis.kt
  src/main/kotlin/de/blume2000/finden/domain/model/produkte/produkt/preis/UnerwarteteWaehrungException.kt
  src/test/kotlin/de/blume2000/finden/domain/model/produkte/produkt/preis/PreisTest.kt
Due: k8s dev deployment backend, k8s prod deployment backend

fix tests
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  src/main/kotlin/de/blume2000/finden/adapter/active/api/featuretoggles/FeatureToggleResource.kt
  src/main/kotlin/de/blume2000/finden/application/ProduktlistenApplicationService.kt
  src/main/kotlin/de/blume2000/finden/configuration/UnleashConfiguration.kt
  src/main/kotlin/de/blume2000/finden/domain/service/featureToggles/FeatureToggleDomainService.kt
  src/main/resources/application.yml
  src/test/kotlin/de/blume2000/finden/application/ProduktlistenApplicationServiceTest.kt
Due: k8s dev deployment backend, k8s dev deployment frontend, k8s prod deployment backend, k8s prod deployment frontend

setup context
  CLAUDE.md
  CONTEXT-CLAUDE.md
  PRPs/INITIAL.md
  PRPs/INITIAL_EXAMPLE.md
  TM-CLAUDE.md
  doc/ARCHITECTURE_REPORT.md
  doc/COMPREHENSIVE_ANALYSIS_REPORT.md
Due: none

enhanced claude file
  CLAUDE.md
Due: none

reduce duplication
  CLAUDE.md
Due: none

integrate superclaude
  CLAUDE.md
Due: none

update workflow
  CLAUDE.md
Due: none

frontend arch
  CLAUDE.md
Due: none

enhance file
  CLAUDE.md
Due: none

further improve tokens
  CLAUDE.md
Due: none

further improve tokens
  CLAUDE.md
  doc/ARCHITECTURE_REPORT.md
  doc/COMPREHENSIVE_ANALYSIS_REPORT.md
Due: none

increadible CLAUDE.md
  CLAUDE.md
Due: none

finetuniun
  CLAUDE.md
Due: none

finetuning
  CLAUDE.md
Due: none

compress file size
  CLAUDE.md
Due: none

update dependencies
  build.gradle.kts
  settings.gradle.kts
  src/main/resources/application.yml
Due: k8s dev deployment backend, k8s dev deployment frontend, k8s prod deployment backend, k8s prod deployment frontend

fix all warnings
  build.gradle.kts
  src/main/kotlin/de/blume2000/finden/adapter/active/api/produkte/ProdukteResource.kt
  src/main/kotlin/de/blume2000/finden/adapter/active/messaging/AvroJsonSerializer.kt
  src/main/kotlin/de/blume2000/finden/adapter/active/messaging/KeineMetadatenException.kt
  src/main/kotlin/de/blume2000/finden/adapter/active/messaging/MessagingException.kt
  src/main/kotlin/de/blume2000/finden/adapter/active/messaging/UngültigerEventTypeException.kt
  src/main/kotlin/de/blume2000/finden/adapter/active/messaging/produkte/KafkaProduktEventType.kt
  src/main/kotlin/de/blume2000/finden/adapter/active/messaging/produkte/ProduktImportMeterProvider.kt
  src/main/kotlin/de/blume2000/finden/adapter/active/messaging/verfuegbarkeiten/KafkaVerfügbarkeitEventType.kt
  src/main/kotlin/de/blume2000/finden/adapter/active/messaging/verfuegbarkeiten/VerfügbarkeitImportMeterProvider.kt
  src/main/kotlin/de/blume2000/finden/adapter/passive/database/produkte/MongoProdukt.kt
  src/main/kotlin/de/blume2000/finden/adapter/passive/database/produkte/VerfügbareFilterwerteMongoRepository.kt
  src/main/kotlin/de/blume2000/finden/adapter/passive/operations/JsonLoggingProvider.kt
  src/main/kotlin/de/blume2000/finden/domain/model/featureToggles/FeatureToggle.kt
  src/main/kotlin/de/blume2000/finden/domain/model/produkte/produkt/Bestellschluss.kt
  src/main/kotlin/de/blume2000/finden/domain/service/produkte/ProduktImportDomainService.kt
  src/main/kotlin/de/blume2000/util/Confidential.kt
  src/main/kotlin/de/blume2000/util/OffsetDateTimeCodec.kt
  src/main/kotlin/de/blume2000/util/OffsetDateTimeCodecProvider.kt
  src/main/resources/application.yml
  src/test/kotlin/de/blume2000/finden/adapter/active/api/produkte/ProdukteResourceTest.kt
  src/test/kotlin/de/blume2000/util/TestContainers.kt
Due: k8s dev deployment backend, k8s dev deployment frontend, k8s prod deployment backend, k8s prod deployment frontend

fix all warnings
  CLAUDE.md
  build.gradle.kts
  detekt-config.yml
  src/main/kotlin/de/blume2000/finden/adapter/passive/database/produkte/MongoProdukt.kt
  src/main/kotlin/de/blume2000/finden/adapter/passive/database/produkte/MongoVerfügbarkeit.kt
  src/main/kotlin/de/blume2000/finden/adapter/passive/database/produkte/VerfügbareFilterwerteMongoRepository.kt
  src/main/resources/application.yml
  src/test/kotlin/de/blume2000/util/TestContainers.kt
Due: k8s dev deployment backend, k8s dev deployment frontend, k8s prod deployment backend, k8s prod deployment frontend

prd
  .taskmaster/beschreibung_prd.txt
Due: none

prd for beschreibung
  .taskmaster/beschreibung_prd.txt
Due: none

add prd
  .taskmaster/beschreibung_prd.md
  .taskmaster/config.json
Due: none

add subtasks
  .taskmaster/beschreibung_prd.txt
  .taskmaster/config.json
  .taskmaster/docs/prd.txt
  .taskmaster/reports/task-complexity-report.json
  .taskmaster/state.json
  .taskmaster/tasks/tasks.json
Due: none

adjust tasks
  .taskmaster/tasks/tasks.json
Due: none

update tasks
  .taskmaster/tasks/tasks.json
Due: none

add documents
  doc/Demo - Code.md
  doc/Demo - Long.md
  doc/Demo/Context Engineering.png
  doc/Demo/PDLC.png
  doc/Demo/fun.png
Due: none

fix java version
  CLAUDE.md
Due: none

Path conditions:
  k8s dev deployment backend: any of: .gitlab-ci.yml, src/main/jib/**/*, src/main/kotlin/**/*, src/main/resources/**/*, src/test/kotlin/**/*, gradle/**/*, build.gradle.kts, detekt-config.yml, gradle.properties, settings.gradle.kts, infrastructure
  k8s dev deployment frontend: any of: .gitlab-ci.yml, src/main/frontend/**/*, src/main/resources/**/*, src/test/frontend/**/*, infrastructure, *.js, *.json
  k8s prod deployment backend: any of: .gitlab-ci.yml, src/main/jib/**/*, src/main/kotlin/**/*, src/main/resources/**/*, src/test/kotlin/**/*, gradle/**/*, build.gradle.kts, detekt-config.yml, gradle.properties, settings.gradle.kts, infrastructure
  k8s prod deployment frontend: any of: .gitlab-ci.yml, src/main/frontend/**/*, src/main/resources/**/*, src/test/frontend/**/*, infrastructure, *.js, *.json
